@use "../../globalStyle/mixins" as *;
@use "../../globalStyle/variables" as *;


.dua-loja {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    min-height: 90vh;
    padding: 2rem;
    gap: 1rem;

    &__image {
        display: grid;
        margin-top: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(340px, 0fr));
        grid-gap: 3rem 1rem;
        padding: 1rem 0.5rem;

        @media(max-width:770px) {
            justify-content: center;
        }
    }
}