.dua-history {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    min-height: 90vh;

    &__title {
        padding: 1rem 2rem;
        max-width: 100%;

        h1 {
            font-size: 25px;
            border-bottom: 2px solid #d8d8d8;
            padding-bottom: 0.8rem;
        }
    }

    &__image {
        display: grid;
        margin-top: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
        grid-gap: 3rem 1rem;
        padding: 1rem 2rem;


        @media(max-width:650px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}