footer {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    background-color: #eeeded;
    height: 90px;
    cursor: default;

    h3 {
        color: #7e7e7e;
        font-weight: 500;
        line-height: 25px;
    }

    p {
        color: #7e7e7e;
        font-weight: 400;

        a {
            text-decoration: none;
            color: rgb(114, 129, 94);

            &:hover {
                transition: 0.3s ease-in-out;
                font-weight: 500;
                color: #0e3804;
            }
        }
    }
}